.info-modal {
    display: none;
    position: absolute;
    z-index: 100000;
    width: 80vw;
    height: 80vh;
    background-color: orange;
    padding: 1rem;
    border-radius: 1rem;
}

.modal-body {
    display: flex;
    flex-direction: column;
    align-content: center;
    height: 100%;
}

.modal-body > * {
    margin: 1rem 0rem 1rem 0rem;
}

.modal-tag {
    font-size: smaller;
}

.modal-label {
    background-color: aliceblue;
    padding: 0.5rem;
    border-radius: 0.5rem;
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.modal-num-spinner {
    display: flex;
    flex-direction: row;
    width: auto;
    justify-content: center;
}

.modal-num-spinner-btn {
    background-color: blue;
    color: white;
    font-weight: bold;
    width: 5rem;
    font-size: 3rem;
}

.left-crescent {
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
}

.right-crescent {
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
}

.modal-num-spinner-input {
    font-size: 3rem;
    width: 10rem;
}

.modal-header {
    display: flex;
    flex-direction: row;
    justify-content: right;
}

.modal-footer {
    display: flex;
    flex-direction: column;
    margin-top: auto;
    align-items: center;
}

.modal-footer > * {
    margin: 1rem 0 1rem 0;
}

.submit-button {
    width: min-content;
    font-size: 3rem;
}

.modal-close-button {
    background-color: transparent;
    border: none;
    font-size: 2rem;
    color: black;
}